<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Upload an Image" %>

<%= f.input :title %>
    <%= f.input :description, as: :text, input_html: { rows: "3"} %>
    <p>Need a:</p>
    <%= f.input :needshacker, as: :boolean, label: "Hacker" %>
    <%= f.input :needshussler, as: :boolean, label: "Hussler" %>
    <%= f.input :needsdesigner, as: :boolean, label: "Designer" %>


  	
    <%= f.button :submit, "Go!", class: "btn btn-primary" %>

<% end %>
