<div class="box">
              <%= link_to (image_tag pin.image(:large)), pin %>
              <h5><%= link_to pin.title, pin %>
                <small><% if current_user == pin.user %>
              by <%= link_to pin.user.name, root_path %>
              <% else %>
              by <%= link_to pin.user.name, pin.user %>
              <% end %>
            </small></h5>
            <p><%= pin.description %></p>
              <div>Needs a:
              <% if pin.needshacker == true %>
              
              <button class="btn btn-info btn-mini" type="button">Hacker </button>
              <% end %>
              <% if pin.needshussler == true %>
              <button class="btn btn-info btn-mini" type="button">Hussler </button>
              <% end %>
              <% if pin.needsdesigner == true %>
              <button class="btn btn-info btn-mini" type="button">Designer </button>
              <% end %>
            </div>
              
</div>
            
