 <div class="divPanel topArea notop nobottom">
            <div class="row-fluid">
                <div class="span5">

                    <div id="divLogo">
                        <%= link_to "Startup Cogs", root_path, id: "divSiteTitle" %></br>
                        <%= link_to "Hack|Hussle|Design", '#', id: "divTagLine" %>
                    </div>

                </div>
                <div class="span7">

                    <div id="divMenuRight" class="pull-right">
                    <div class="navbar">
                        <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            NAVIGATION <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav nav-pills ddmenu">
             
                                 <% if user_signed_in? %>
            <li class="dropdown active"><%= link_to 'Profile'.html_safe, edit_user_registration_path %></li>
            <li class="dropdown active"><%= link_to 'Logout'.html_safe, destroy_user_session_path, method: :delete %></li>
            <li class="dropdown active"><%= link_to 'Cogs'.html_safe, users_path %></li>
            <li class="dropdown active"><%= link_to 'Ideas'.html_safe, pins_path %></li>

            
            <% else %>
            <li class="dropdown active"><%= link_to 'Login'.html_safe, new_user_session_path %></li>
            <% end %>
                         
                            </ul>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>

       